header{
    text-align: center;
}

h1{
    font-size: 40px;
    color: #7EBF8E;
    margin: 0px;
    padding: 0px;
}

h2{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
h3{
    margin: 0px;
    padding: 0px;
}

div.input-section{
    text-align: center;
}

input.text-input{
    height: 25px;
    width: 600px;
    margin: 20px;
    padding: 0px;
    border: solid thin #7EBF8E;
    text-align: center;
}

button.input-button{
    width: 250px;
    height: 30px;
    color: white;
    background-color:#7EBF8E;
}

ul{
    align-content: center;
    text-align: center;
}